

<div class='scroll-box'>
   <div id="map">

   </div>
 </div>

 <script type="text/javascript">

 $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });



 function initMap(){
        //this should check if your leaflet is available or wait if not.
        if(typeof L=== "undefined"){
               window.setTimeout(initMap, 100);
               return;
        }
        var map = L.map('map');
 };



 var osmLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>',
   thunLink = '<a href="http://thunderforest.com/">Thunderforest</a>';
   waterLink = '<a href="http://stamen.com">Stamen Design</a>';

 var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
   osmAttrib = '&copy; ' + osmLink + ' Contributors',
   landUrl = 'http://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png',
   thunAttrib = '&copy; '+osmLink+' Contributors & '+thunLink,
   waterUrl= 'http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg',
   waterAttrib ='&copy; '+osmLink+' Contributors & '+waterLink;

 var osmMap = L.tileLayer(osmUrl, {attribution: osmAttrib}),
   landMap = L.tileLayer(landUrl, {attribution: thunAttrib});
   waterMap = L.tileLayer(waterUrl, {attribution: waterAttrib});

 var map = L.map('map', {
     layers: [waterMap] // only add one!
   })
   .setView([34.013111, -118.495232], 14);



 var baseLayers = {
 "OSM Mapnik": osmMap,
 "Landscape": landMap,
 "Watercolor": waterMap
 };

 L.control.layers(baseLayers).addTo(map);


  var myIcon = L.icon({
    iconUrl: '/assets/green-marker.png',
    iconRetinaUrl: '/assets/green-marker.png',
    iconSize: [95, 95],
    iconAnchor: [22, 94],
    popupAnchor: [30, -100],
    shadowUrl: '/assets/marker-shadow.png',
    shadowRetinaUrl: '/assets/marker-shadow.png',
    shadowSize: [68, 95],
    shadowAnchor: [22, 94]
});

  L.marker([34.013111, -118.495232], {icon: myIcon}).addTo(map).bindPopup("<b>This could be you!<b>").openPopup();


   var popup = L.popup();
   var myIcon = L.icon({
     iconUrl: '/assets/home-marker.png',
     iconRetinaUrl: '/assets/home-marker.png',
     iconSize: [95, 95],
     iconAnchor: [22, 94],
     popupAnchor: [30, -100],
     shadowUrl: '/assets/marker-shadow.png',
     shadowRetinaUrl: '/assets/marker-shadow.png',
     shadowSize: [68, 95],
     shadowAnchor: [22, 94]
 });

 L.marker([34.016031, -118.498331], {icon: myIcon}).addTo(map).bindPopup("<b>Your Neighbor<b>");
 L.marker([34.01406, -118.491213], {icon: myIcon}).addTo(map).bindPopup("<b>Your Neighbor<b>");



   function onMapClick(e) {
       popup
           .setLatLng(e.latlng)
           .setContent("You clicked the map at " + e.latlng.toString())
           .openOn(map);
   }

   map.on('click', onMapClick);
 </script>
