<div class="jumbotron">
  <h1>Hello, <%=@user.name %></h1>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<h2>Get to know your neighbors</h2>
  <table>
    <tbody id="sortable">
      <% @users.each do |u| %>
      <tr class="ui-state-default">
        <td><%=u.name%></td>
        <td><%=u.phone_number%></td>
        <td><%=u.address.address%></td>
      </tr>
      <% end %>
    </tbody>
</table>

  <script type="text/javascript">
  $(function() {
     $( "#sortable" ).sortable();
     $( "#sortable" ).disableSelection();
   });
  </script>
