
<h4>Connect with your SEEN neighbors</h4>
<br>
  <table class="table table-hover table-responsive">
    <tbody id="sortable">
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>SEEN Address</th>
        <th>City</th>
      </tr>
      <% @users.each do |u| %>
      <tr class="ui-state-default">
        <td><%=u.name%></td>
        <td><%=u.phone_number%></td>
        <td><%=u.address.address.upcase%></td>
        <td><%=u.address.city%></td>
      </tr>
      <% end %>
    </tbody>
</table>

  <script type="text/javascript">
  $(function() {
     $( "#sortable" ).sortable();
     $( "#sortable" ).disableSelection();
   });
  </script>
