

<h1>Photos#index</h1>
<p>Find me in app/views/photos/index.html.erb</p>
<% @photos.each do |p| %>
<div class="row">
  <div class="col-xs-6 col-md-3">
      <%=image_tag(p.image, size: "220x180", alt: p.description)%>
      <div class="caption">
        <h5><%=p.description %></h5><h7>Added By:<%=p.user.name %></h7>
      </div>
  <% end %>
  </div>
</div>
