



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


<div class='container'>
      <ul class="row">
        <% @photos.each do |p| %>

      <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
        <img src='<%=p.image%>'>
        <div class="caption">
          <h6><%=p.description %></h6><h7>Added By: <%=p.user.name %></h7>
        </div>
      </li>

    <% end %>
    </ul>
</div>

<script type="text/javascript">

  $(document).ready(function(){
     $('li img').on('click',function(){
          var src = $(this).attr('src');
          var img = '<img src="' + src + '" class="img-responsive"/>';
          $('#myModal').modal();
          $('#myModal').on('shown.bs.modal', function(){
              $('#myModal .modal-body').html(img);
          });
          $('#myModal').on('hidden.bs.modal', function(){
              $('#myModal .modal-body').html('');
          });
     });
  })

</script>
