.nav li{
  background-color: rgba(52,194,196,.5);
  border: 2px solid white;
  border-radius: 7px;
  padding: 0px;
  text-align: center;
  color: black;

}

@import "bootstrap-sprockets";
@import "bootstrap";
@import "users";
@import "photos";
@import "forums";
@import "addresses";
@import "address_names";
@import "sessions";
@import "static_pages"



/*
 *= require jquery-ui
 */
