body{
  font-weight: bold;
  background: url('http://www.unsigneddesign.com/Grey_Grunge_6_13/Grey_Grunge1.jpg');

}

input{
  color: black;
}

input#photo_description{
  color: black;
}

.jumbotron{
  background-image: url("http://images.fineartamerica.com/images-medium-5/philadelphia-watercolor-cityscape-bill-cannon.jpg");
  background-size: 100% 100%;
  background-height: 100%;
  width: 100%;
  height: 375px;
  overflow: hidden;
  border-bottom: 5px solid rgba(0,0,0,.6);
}
.container.page{
  color: white;
}

.scroll-box{
  overflow: scroll;
  height: 500px;
  margin-top: 30px;
}

#nav-links{
  color: white;
}

nav.navbar.navbar-default{
  margin-top: -40px;
  background-color: rgba(0,0,0,.7);

}

.nav-pills > li > a{
 font-size: 14px;
 text-align: center;
 padding: 0px;
}

.jumbo-text {
  margin: 30px;
  color: rgba(0,0,0,.8);
  font-weight: bolder;
  font-size: 23px;
  text-align: left;
}

@media (max-width: 767px) {

  .container-fluid{
    background-color: rgba(255,255,255,0.1)
  }

  nav.navbar.navbar-default{
    margin-top: -40px;
    background-color: rgba(0,0,0,0);
    border: none;
  }
  .jumbo-text {
    margin: 60px;
    color: rgba(0,0,0,1);
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
  }
  #seen{
    color: rgba(0,0,0,.9);
  }

  .nav li{
    border: rgba(0,0,0,0.1);
    border-radius: 7px;
    padding: 0px;
    text-align: center;
    color: black;
    font-size: 15px;

  }
  .nav-justified > li, .nav-tabs.nav-justified > li {
    background-color: rgba(0,0,0,.7);
  }
}

.nav-logo {
  float: left;
}

#seen{
  color: rgba(255,255,255,.9);
}

.nav li{
  background-color: rgba(0,0,0,.1);
  border: rgba(0,0,0,0.1);
  border-radius: 7px;
  padding: 0px;
  text-align: center;
  color: black;
  font-size: 15px;

}

.submit-buttons{
  border-radius: 7px;
  border: 5px groove white;
  background-color: black;
  color: white;
  padding: 5px;
  margin: 2px;
  display: inline-block;
}


#map {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  border: 5px solid rgba(0,0,0,.6);
  border-radius: 10px;
}



@import "bootstrap-sprockets";
@import "bootstrap";
@import "users";
@import "photos";
@import "forums";
@import "addresses";
@import "address_names";
@import "sessions";
@import "static_pages"



/*
 *= require jquery-ui
 */
